In [1]:
from cassandra.cluster import Cluster

In [18]:
cluster = Cluster(['localhost'], port=9042) # You can specify multiple contact points if needed
session = cluster.connect()

In [19]:
session.execute('''CREATE KEYSPACE IF NOT EXISTS cbd WITH replication 
                = {'class': 'SimpleStrategy', 'replication_factor': 1}''')

In [19]:
session.execute("DROP TABLE IF EXISTS cbd.inscritos")

In [20]:
session.execute('''
CREATE TABLE IF NOT EXISTS cbd.inscritos (
    codigo_estabelecimento INT,
    estabelecimento TEXT,
    codigo_unidade_organica INT,
    unidade_organica TEXT,
    nuts_ii_2002 TEXT,
    nuts_iii_2002 TEXT,
    nuts_ii_2013 TEXT,
    nuts_iii_2013 TEXT,
    distrito TEXT,
    concelho TEXT,
    natureza_estabelecimento_ensino TEXT,
    tipo_ensino TEXT,
    codigo_curso INT,
    curso TEXT,
    curso_ciclo_estudos TEXT,
    area_educacao_formacao_codigo_area_geral INT,
    area_educacao_formacao_area_geral TEXT,
    area_educacao_formacao_codigo_area_especifica INT,
    area_educacao_formacao_area_especifica TEXT,
    area_educacao_formacao_codigo_area_detalhada INT,
    area_educacao_formacao_area_detalhada TEXT,
    sexo TEXT,
    nacionalidade TEXT,
    estudante_trabalhador TEXT,
    primeira_vez TEXT,
    tempo_parcial TEXT,
    bolseiro TEXT,
    total INT,
    PRIMARY KEY (codigo_estabelecimento)
);
''')

In [9]:
import pandas as pd

C:\Users\bruno\AppData\Local\Temp\ipykernel_29308\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [24]:
df = pd.read_excel(r'C:\Users\bruno\Desktop\Projeto cbd\Inscritos\Inscritos_2016_2017.xlsx')

In [27]:
print(df.dtypes)

Código Estabelecimento                                   object
Estabelecimento                                          object
Código Unidade Orgânica                                 float64
Unidade Orgânica                                         object
NUTS II - 2002                                           object
NUTS III - 2002                                          object
NUTS II - 2013                                           object
NUTS III - 2013                                          object
Distrito                                                 object
Concelho                                                 object
Natureza do Estabelecimento de Ensino                    object
Tipo de Ensino                                           object
Código Curso                                             object
Curso                                                    object
Curso/Ciclo de Estudos                                   object
Área de Educação e Formação - Código Área Geral         float64
Área de Educação e Formação - Área Geral                 object
Área de Educação e Formação - Código Área Específica    float64
Área de Educação e Formação - Área Específica            object
Área de Educação e Formação - Código Área Detalhada     float64
Área de Educação e Formação - Área Detalhada             object
Sexo                                                     object
Nacionalidade                                            object
Estudante Trabalhador                                    object
Primeira Vez                                             object
Tempo Parcial                                            object
Bolseiro                                                 object
Total                                                   float64
dtype: object

In [29]:
df.columns

Index(['Código Estabelecimento', 'Estabelecimento', 'Código Unidade Orgânica',
       'Unidade Orgânica', 'NUTS II - 2002', 'NUTS III - 2002',
       'NUTS II - 2013', 'NUTS III - 2013', 'Distrito', 'Concelho',
       'Natureza do Estabelecimento de Ensino', 'Tipo de Ensino',
       'Código Curso', 'Curso', 'Curso/Ciclo de Estudos',
       'Área de Educação e Formação - Código Área Geral',
       'Área de Educação e Formação - Área Geral',
       'Área de Educação e Formação - Código Área Específica',
       'Área de Educação e Formação - Área Específica',
       'Área de Educação e Formação - Código Área Detalhada',
       'Área de Educação e Formação - Área Detalhada', 'Sexo', 'Nacionalidade',
       'Estudante Trabalhador', 'Primeira Vez', 'Tempo Parcial', 'Bolseiro',
       'Total'],
      dtype='object')

In [31]:
df2 = df[['Código Estabelecimento','Estabelecimento','Código Curso','Curso']]

In [82]:
session.execute('''CREATE TABLE IF NOT EXISTS cbd.teste (
    cod_estab INT,
    estab TEXT,
    cod_curso TEXT,
    curso TEXT,
    PRIMARY KEY (cod_estab, cod_curso)
);
''')

In [81]:
session.execute("DROP TABLE IF EXISTS cbd.teste")

In [61]:
a = df2.loc[0].to_list()
t = ','.join(["'" + item + "'" for item in a])
t

"'0100','Universidade dos Açores','5753','Ciências Agrárias'"

In [ ]:
for index, row in df2.iterrows():
    print(type(row['Código Estabelecimento']))

In [84]:
for index, row in df2.iterrows():
    session.execute(f'''INSERT INTO cbd.teste (
                        cod_estab,
                        estab,
                        cod_curso,
                        curso)
                        VALUES ({int(row['Código Estabelecimento'])}, '{row['Estabelecimento']}', {(row['Código Curso'])}, '{row['Curso']}'
                        )'''
                    )

InvalidRequest: Error from server: code=2200 [Invalid query] message="Invalid INTEGER constant (5753) for "cod_curso" of type text"

In [7]:
import glob
import pandas as pd

In [10]:
# diplomados
path = r"C:\Users\bruno\Desktop\Projeto CBD\Dados\Diplomados"
excel_files = glob.glob(path + '/*.xlsx')

for file_path in excel_files:
    column_names = pd.read_excel(file_path, nrows=0).columns.tolist()

    print(column_names)

['Código Estabelecimento ', 'Estabelecimento', 'Código Unidade Orgânica', 'Unidade Orgânica', 'NUTS II', 'NUTS III', 'Distrito', 'Concelho', 'Subsistema de Ensino', 'Tipo de Ensino', 'Código Curso', 'Curso', 'Nivel de Formação', 'CNAEF - Código Grande Grupo', 'CNAEF - Grande grupo', 'CNAEF - Código Área de Estudo', 'CNAEF - Área de Estudo', 'CNAEF - Código Área de Educação e Formação ', 'CNAEF - Área de Educação e Formação', 'Sexo', 'Total']
['Código Estabelecimento ', 'Estabelecimento', 'Código Unidade Orgânica', 'Unidade Orgânica', 'NUTS II', 'NUTS III', 'Distrito', 'Concelho', 'Subsistema de Ensino', 'Tipo de Ensino', 'Código Curso', 'Curso', 'Nivel de Formação', 'CNAEF - Código Grande Grupo', 'CNAEF - Grande grupo', 'CNAEF - Código Área de Estudo', 'CNAEF - Área de Estudo', 'CNAEF - Código Área de Educação e Formação ', 'CNAEF - Área de Educação e Formação', 'Sexo', 'Total']
['Código Estabelecimento ', 'Estabelecimento', 'Código Unidade Orgânica', 'Unidade Orgânica', 'NUTS II', 'NUTS III', 'Distrito', 'Concelho', 'Subsistema de Ensino', 'Tipo de Ensino', 'Código Curso', 'Curso', 'Nivel de Formação', 'CNAEF - Código Grande Grupo', 'CNAEF - Grande grupo', 'CNAEF - Código Área de Estudo', 'CNAEF - Área de Estudo', 'CNAEF - Código Área de Educação e Formação ', 'CNAEF - Área de Educação e Formação', 'Sexo', 'Total']
['Código Estabelecimento ', 'Estabelecimento', 'Código Unidade Orgânica', 'Unidade Orgânica', 'NUTS II', 'NUTS III', 'Distrito', 'Concelho', 'Subsistema de Ensino', 'Tipo de Ensino', 'Código Curso', 'Curso', 'Nivel de Formação', 'CNAEF - Código Grande Grupo', 'CNAEF - Grande grupo', 'CNAEF - Código Área de Estudo', 'CNAEF - Área de Estudo', 'CNAEF - Código Área de Educação e Formação ', 'CNAEF - Área de Educação e Formação', 'Sexo', 'Nacionalidade', 'Total']
['Código Estabelecimento ', 'Estabelecimento', 'Código Unidade Orgânica', 'Unidade Orgânica', 'NUTS II', 'NUTS III', 'Distrito', 'Concelho', 'Subsistema de Ensino', 'Tipo de Ensino', 'Código Curso', 'Curso', 'Nivel de Formação', 'CNAEF - Código Grande Grupo', 'CNAEF - Grande grupo', 'CNAEF - Código Área de Estudo', 'CNAEF - Área de Estudo', 'CNAEF - Código Área de Educação e Formação ', 'CNAEF - Área de Educação e Formação', 'Sexo', 'Nacionalidade', 'Total']
['Código Estabelecimento ', 'Estabelecimento', 'Código Unidade Orgânica', 'Unidade Orgânica', 'NUTS II', 'NUTS III', 'Distrito', 'Concelho', 'Subsistema de Ensino', 'Tipo de Ensino', 'Código Curso', 'Curso', 'Nivel de Formação', 'CNAEF - Código Grande Grupo', 'CNAEF - Grande grupo', 'CNAEF - Código Área de Estudo', 'CNAEF - Área de Estudo', 'CNAEF - Código Área de Educação e Formação ', 'CNAEF - Área de Educação e Formação', 'Sexo', 'Nacionalidade', 'Total']
['Código Estabelecimento', 'Estabelecimento', 'Código Unidade Orgânica', 'Unidade Orgânica', 'NUTS II', 'NUTS III', 'Distrito', 'Concelho ', 'Subsistema de Ensino', 'Tipo de Ensino', 'Código Curso', 'Curso', 'Nível de Formação', 'CNAEF - Código Grande Grupo ', 'CNAEF - Grande grupo', 'CNAEF - Código Área de Estudo', 'CNAEF - Área de Estudo', 'CNAEF - Código Área de Educação e Formação', 'CNAEF - Área de Educação e Formação', 'Sexo', 'País', 'Total']
['Código Estabelecimento ', 'Estabelecimento', 'Código Unidade Orgânica', 'Unidade Orgânica', 'NUTS II', 'NUTS III', 'Distrito', 'Concelho', 'Subsistema de Ensino', 'Tipo de Ensino', 'Código Curso', 'Curso', 'Nivel de Formação', 'CNAEF - Código Grande Grupo', 'CNAEF - Grande grupo', 'CNAEF - Código Área de Estudo', 'CNAEF - Área de Estudo', 'CNAEF - Código Área de Educação e Formação ', 'CNAEF - Área de Educação e Formação', 'Sexo', 'País', 'Total']
['Código Estabelecimento ', 'Estabelecimento', 'Código Unidade Orgânica', 'Unidade Orgânica', 'NUTS I', 'NUTS II', 'NUTS III', 'Distrito', 'Concelho', 'Subsistema de Ensino', 'Tipo de Ensino', 'Código Curso', 'Curso', 'Nivel de Formação', 'CNAEF - Código Grande Grupo', 'CNAEF - Grande grupo', 'CNAEF - Código Área de Estudo', 'CNAEF - Área de Estudo', 'CNAEF - Código Área de Educação e Formação ', 'CNAEF - Área de Educação e Formação', 'Sexo', 'País', 'Total']
['Código Estabelecimento ', 'Estabelecimento', 'Código Unidade Orgânica', 'Unidade Orgânica', 'NUTSI', 'NUTSII 2001', 'NUTSII 2002', 'NUTSII 2013', 'NUTSIII 2001', 'NUTSIII 2002', 'NUTSIII 2013', 'Distrito', 'Concelho', 'Subsistema de Ensino', 'Tipo de Ensino', 'Código Curso', 'Curso', 'Nivel de Formação', 'CNAEF - Código Grande Grupo', 'CNAEF - Grande grupo', 'CNAEF - Código Área de Estudo', 'CNAEF - Área de Estudo', 'CNAEF - Código Área de Educação e Formação ', 'CNAEF - Área de Educação e Formação', 'Sexo', 'País', 'Total']
['Código Estabelecimento ', 'Estabelecimento', 'Código Unidade Orgânica', 'Unidade Orgânica', 'NUTSI', 'NUTSII 2001', 'NUTSII 2002', 'NUTSII 2013', 'NUTSIII 2001', 'NUTSIII 2002', 'NUTSIII 2013', 'Distrito', 'Concelho', 'Subsistema de Ensino', 'Tipo de Ensino', 'Código Curso', 'Curso', 'Nivel de Formação', 'CNAEF - Código Grande Grupo', 'CNAEF - Grande grupo', 'CNAEF - Código Área de Estudo', 'CNAEF - Área de Estudo', 'CNAEF - Código Área de Educação e Formação ', 'CNAEF - Área de Educação e Formação', 'Sexo', 'Nacionalidade', 'Total']
['Código Estabelecimento ', 'Estabelecimento', 'Código Unidade Orgânica', 'Unidade Orgânica', 'NUTS I', 'NUTS II - 2001', 'NUTS II - 2002', 'NUTS II - 2013', 'NUTS III - 2001', 'NUTS III - 2002', 'NUTS III - 2013', 'Distrito', 'Concelho', 'Natureza do Estabelecimento de Ensino', 'Tipo de Ensino', 'Código Curso', 'Curso', 'Curso/Ciclo de Estudos', 'Área de Educação e Formação - Código Área Geral', 'Área de Educação e Formação - Área Geral', 'Área de Educação e Formação - Código Área Específica', 'Área de Educação e Formação - Área Específica', 'Área de Educação e Formação - Código Área Detalhada', 'Área de Educação e Formação - Área Detalhada', 'Sexo', 'Nacionalidade', 'Total']
['Código Estabelecimento ', 'Estabelecimento', 'Código Unidade Orgânica', 'Unidade Orgânica', 'NUTS I', 'NUTS II - 2001', 'NUTS II - 2002', 'NUTS II - 2013', 'NUTS III - 2001', 'NUTS III - 2002', 'NUTS III - 2013', 'Distrito', 'Concelho', 'Natureza do Estabelecimento de Ensino', 'Tipo de Ensino', 'Código Curso', 'Curso', 'Curso/Ciclo de Estudos', 'Área de Educação e Formação - Código Área Geral', 'Área de Educação e Formação - Área Geral', 'Área de Educação e Formação - Código Área Específica', 'Área de Educação e Formação - Área Específica', 'Área de Educação e Formação - Código Área Detalhada', 'Área de Educação e Formação - Área Detalhada', 'Sexo', 'Nacionalidade', 'Total']
['Código Estabelecimento ', 'Estabelecimento', 'Código Unidade Orgânica', 'Unidade Orgânica', 'NUTS I', 'NUTS II - 2001', 'NUTS II - 2002', 'NUTS II - 2013', 'NUTS III - 2001', 'NUTS III - 2002', 'NUTS III - 2013', 'Distrito', 'Município', 'Natureza do Estabelecimento de Ensino', 'Tipo de Ensino', 'Código Curso', 'Curso', 'Curso/Ciclo de Estudos', 'Área de Educação e Formação - Código Área Geral', 'Área de Educação e Formação - Área Geral', 'Área de Educação e Formação - Código Área Específica', 'Área de Educação e Formação - Área Específica', 'Área de Educação e Formação - Código Área Detalhada', 'Área de Educação e Formação - Área Detalhada', 'Sexo', 'Nacionalidade', 'Total']
['Código Estabelecimento', 'Estabelecimento', 'Código Unidade Orgânica', 'Unidade Orgânica', 'NUTS I', 'NUTS II - 2001', 'NUTS II - 2002', 'NUTS II - 2013', 'NUTS III - 2001', 'NUTS III - 2002', 'NUTS III - 2013', 'Distrito', 'Município', 'Natureza do Estabelecimento de Ensino', 'Tipo de Ensino', 'Código Curso', 'Curso', 'Curso/Ciclo de Estudos', 'Área de Educação e Formação - Código Área Geral', 'Área de Educação e Formação - Área Geral', 'Área de Educação e Formação - Código Área Específica', 'Área de Educação e Formação - Área Específica', 'Área de Educação e Formação - Código Área Detalhada', 'Área de Educação e Formação - Área Detalhada', 'Sexo', 'Mobilidade de Crédito', 'Mobilidade de Grau', 'País de Nacionalidade', 'Total']
['Código Estabelecimento', 'Estabelecimento', 'Código Unidade Orgânica', 'Unidade Orgânica', 'NUTS I', 'NUTS II - 2001', 'NUTS II - 2002', 'NUTS II - 2013', 'NUTS III - 2001', 'NUTS III - 2002', 'NUTS III - 2013', 'Distrito', 'Município', 'Natureza do Estabelecimento de Ensino', 'Tipo de Ensino', 'Código Curso', 'Curso', 'Curso/Ciclo de Estudos', 'Área de Educação e Formação - Código Área Geral', 'Área de Educação e Formação - Área Geral', 'Área de Educação e Formação - Código Área Específica', 'Área de Educação e Formação - Área Específica', 'Área de Educação e Formação - Código Área Detalhada', 'Área de Educação e Formação - Área Detalhada', 'Sexo', 'Mobilidade de Crédito', 'Mobilidade de Grau', 'País de Nacionalidade', 'Total']
['Código Estabelecimento', 'Estabelecimento', 'Código Unidade Orgânica', 'Unidade Orgânica', 'NUTS I', 'NUTS II - 2001', 'NUTS II - 2002', 'NUTS II - 2013', 'NUTS III - 2001', 'NUTS III - 2002', 'NUTS III - 2013', 'Distrito', 'Município', 'Natureza do Estabelecimento de Ensino', 'Tipo de Ensino', 'Código Curso', 'Curso', 'Curso/Ciclo de Estudos', 'Área de Educação e Formação - Código Área Geral', 'Área de Educação e Formação - Área Geral', 'Área de Educação e Formação - Código Área Específica', 'Área de Educação e Formação - Área Específica', 'Área de Educação e Formação - Código Área Detalhada', 'Área de Educação e Formação - Área Detalhada', 'Sexo', 'Mobilidade de Crédito', 'Mobilidade de Grau', 'País de Nacionalidade', 'Total']
['Código Estabelecimento', 'Estabelecimento', 'Código Unidade Orgânica', 'Unidade Orgânica', 'NUTS I', 'NUTS II - 2002', 'NUTS III - 2002', 'NUTS II - 2013', 'NUTS III - 2013', 'Distrito', 'Município', 'Natureza do Estabelecimento de Ensino', 'Tipo de Ensino', 'Código Curso', 'Curso', 'Curso/Ciclo de Estudos', 'Área de Educação e Formação - Código Área Geral', 'Área de Educação e Formação - Área Geral', 'Área de Educação e Formação - Código Área Específica', 'Área de Educação e Formação - Área Específica', 'Área de Educação e Formação - Código Área Detalhada', 'Área de Educação e Formação - Área Detalhada', 'Sexo', 'Grupo Etário', 'País de Nacionalidade', 'Mobilidade de Crédito', 'Mobilidade de Grau', 'N']